.contain{
    background-image: url("../public/Images/bg-1.png");
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 475px;
    background-repeat: no-repeat;
}
.containTwo{
    background-image: url("../public/Images/bg-2.png");
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 475px;
    background-repeat: no-repeat;
}